[submodule "adversarial-policies"]
	path = adversarial-policies
	url = git@github.com:HumanCompatibleAI/adversarial-policies.git
[submodule "multiagent-competition"]
	path = multiagent-competition
	url = git@github.com:HumanCompatibleAI/multiagent-competition.git
[submodule "ray"]
	path = ray
	url = git@github.com:HumanCompatibleAI/ray.git
